<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DataHelperAdapter" connectionString="Server=122.11.53.27;UID=sa;PWD=bD567%^&amp;;DataBase=mengjie;Connect Timeout=90"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
